// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "react-bootstrap-range-slider/dist/react-bootstrap-range-slider.css";
